<h1>Gallery</h1>
<table>
  <tr>
    <% count=0 %>
    <% @cameras.each do |camera|%>

      <% if (count % 3) == 0%>
        </tr>
        <tr>
      <% end %>
      <% count+=1 %>


      <td>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag camera.product_image %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  <%= camera.brand %>
                </h6>
                <h5>
                  <span>$</span> <%= camera.price %>
                </h5>
              </div>
              <div class="like">
                <h6>
                  <%= camera.model %>
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <%= button_to 'Add to Cart', line_items_path(:store_id => camera.id)%>
          <div class="btn-box">
            <a href="${line_items_path(:store_id=>camera.id)}">
              Add To Cart
            </a>
          </div>
        </div>
        <!--        <div style="padding: 20px; background-color: white; height: 400px; overflow: scroll; margin:10px; border-radius: 10px">-->
<!--          <%#= image_tag camera.product_image ,:height=>"100px",:width=>"100px"%><br />-->
<!--          Model : <%#= camera.model %><br />-->
<!--          Brand :<%#= camera.brand %><br />-->
<!--          Info : <%#= camera.description %><br />-->
<!--          Price : <%#= camera.price %>-->
<!--          <div class="btn-box" style="color: #0c0c0c;">-->
            <%#= button_to 'Add to Cart', line_items_path(:store_id => camera.id)%>
<!--          </div>-->
<!--          </div>-->
      </td>
      </div>
        </div>


    <% end %>

    </tr>
    </table>
